{% extends 'header.html' %}

{% block content%}
<div class="container px-4">
 <h1>Add News</h1>
    <form action="/add_news" method="POST">
        <div class="mb-3">
      <label for="title" class="form-label">Заголовок:</label>
      <input type="text" class="form-control" id="title" name="title" required>
        </div>
        <div class="mb-3">
      <label for="img" class="form-label">Ссылка на изображение:</label>
      <input type="text" class="form-control" id="img" name="img" required>
        </div>
        <div class="mb-3">
      <label for="text" class="form-label">Текст новости:</label>
      <textarea class="form-control"  rows="3" name="text"></textarea>
        </div>
        <div class="mb-3">
      <label for="descr" class="form-label">Описание новости:</label>
      <textarea class="form-control" rows="3" name="descr"></textarea>
        </div>
        <div class="mb-3">
      <input type="submit" class="btn btn-success" value="Добавить новость">
        </div>

    </form>
 </div>
{% endblock %}
